* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin felxprob {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin gridlayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@mixin commoncode($part1, $part2) {
    text-transform: $part2;
    letter-spacing: $part1;
}

@mixin pcode {
    color: #2ecc71;
    font-size: 2.5rem;
}

@mixin hcode {
    color: #3e2ecc;
    font-size: 5rem;
}

$bg-color: #8620da; //variable
.main_header {
    @include felxprob;
    background: $bg-color;
    h1 {
        @include hcode;
        @include commoncode(0.8rem, uppercase);
        &:hover {
            color: #27ae60;
        }
    }
    p {
        @include pcode;
        @include commoncode(0.1rem, lowercase);
        &:hover {
            color: #f1c40f;
        }
    }
}

$boxbg: red;
.main-box {
    @include gridlayout;
    background: $bg-color;
    .box1 {
        background: $boxbg;
        padding: 15px 10px;
        border: 2px solid #27ae60;
    }
    & :hover {
        background: #000;
        color: #fff;
    }
}